* {
	font-family: sans-serif;
}

.page{
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	display: none;
}
.page.visible{
	display: flex;
}

#tabs {
	border-bottom: 1px solid grey;
	display: flex;
}
#tabs .tab {
	padding: 1rem 1.5rem;
	cursor: pointer;
	background: darkgrey;
	border: 1px solid grey;
	border-bottom: none;
	border-left: none;
	transition: 0.15s;
	user-select: none;
}
#tabs .tab:first-child {
	border-left: 1px solid;
	border-top-left-radius: 10px;
}
#tabs .tab:last-child {
	border-top-right-radius: 10px;
}
#tabs .tab:hover{
	background: lightgrey;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}
#tabs .tab.active{
	background: #f3f3f3;
	padding-left: 2rem;
	padding-right: 2rem;
}


.file_input{
	height: 200px;
	width: 300px;
	border-radius: 12px;
	border-style: dashed;
	border-color: #cbd5e1;
	background-color: #f8fafc;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2px;
	user-select: none;
	position: relative;
	overflow: hidden;
	transition: 0.25s;
}
.file_input.drag-active {
	background-color: #ecf5ff;
}
.file_input.invalid{
	border-color: red;
}
.file_input input{
	display: none;
}
.file_input label.button{
	font-size: 14pt;
}
.file_input label.filename{
	font-size: 10pt;
	font-family: monospace;
	color: grey;
}
.file_input label.button:hover{
	text-decoration: underline;
	cursor: pointer;
}
.file_input img{
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	opacity: 1;
	transition: 0.3s;
}
.file_input:hover img{
	opacity: 0.25;
}
.file_input:has(img:not([src=""])) label.button,
.file_input:has(img:not([src=""])) label.filename {
	opacity: 0;
}
.file_input:hover label.button,
.file_input:hover label.filename {
	opacity: 1 !important;
	z-index: 2;
	transition: 0.3s;
}
.file_input img[src=""]{
	display: none;
}

.reference_image_wrapper{
	height: 160px;
	width: 250px;
	background: black;
	border-radius: 12px;
	overflow: hidden;
}
.reference_image_wrapper img{
	height: 100%;
	width: 100%;
	object-fit: contain;
}
.reference_image_wrapper img[src=""]{
	opacity: 0;
}

#analyze_progress:not(:has(progress[value])) {
	opacity: 0;
}
#similarity_degree span{
	user-select: none;
}

#result_area{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}
#result_area div{
	position: relative;
	height: 130px;
	width: 200px;
	border-radius: 12px;
	overflow: hidden;
	user-select: none;
}
#result_area div img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: brightness(0.5);
	transition: 0.3s;
}
#result_area div:hover img{
	filter: brightness(1);
}
#result_area div::after{
	content: attr(similarity)"%";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	color: white;
	font-size: 18pt;
}
#result_area:not(:has(*)):after{
	content: "¯\\_(ツ)_/¯";
	font-family: monospace;
	font-size: 14pt;
	margin-top: 1rem;
}


button {
	background-color: #0276FF;
	border-radius: 10px;
	border: none;
	box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
	color: #fff;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 12pt;
	padding: 10px 20px;
	transition: 0.15s ease-in-out;
	user-select: none;
}
button:hover {
	background-color: #1C84FF;
}
button:active {
	background-color: #006AE8;
}



#search_button {
	appearance: none;
	background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
	border: 0;
	border-radius: 10px;
	box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: monospace;
	height: 48px;
	padding-left: 16px;
	padding-right: 16px;
	transition: 0.2s;
	user-select: none;
	font-size: 18px;
}
#search_button:hover {
	box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
	transform: translateY(-2px);
}
#search_button:active {
	box-shadow: #3c4fe0 0 3px 7px inset;
	transform: translateY(2px);
}
#search_button:disabled{
	pointer-events: none;
	filter: grayscale(1);
}


.toggle-switch {
	display: flex;
	position: relative;
	white-space: nowrap;
	background: #ddd;
	border-radius: 25px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}
.toggle-switch.disabled {
	filter: grayscale(1);
	pointer-events: none;
}
.toggle-switch input[type="radio"] { display: none; }
.toggle-option {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.3s;
	font-size: 12pt;
	padding: 15px 32px;
	z-index: 1;
	user-select: none;
}
.toggle-slider {
	position: absolute;
	width: 50%;
	height: 100%;
	background: linear-gradient(135deg, #0276ff, #00bfff, #1c84ff, #5468ff, #00b3ef);
	border-radius: 25px;
	transition: 0.3s;
	z-index: 0;
	background-size: 200% 200%;
	background-position: center center;
}
.toggle-switch input:nth-child(1):checked ~ .toggle-slider {
	transform: translateX(0);
}
.toggle-switch input:nth-child(3):checked ~ .toggle-slider {
	transform: translateX(100%);
	background-size: 300% 300%;
	background-position: right bottom;
}
input[type="radio"]:checked + label {
	color: #fff;
}
